EXPO_PUBLIC_SUPABASE_URL=(Test_Key)
EXPO_PUBLIC_SUPABASE_ANON_KEY=(Test_Key)
EXPO_PUBLIC_WIKIPEDIA_EMAIL=(Test_Key)
EXPO_PUBLIC_OVERPASS_PROXY_URL=https://project.vercel.app/api/overpass
EXPO_PUBLIC_API_KEY=(openssl rand -hex 32)
EXPO_PUBLIC_USE_RN_FETCH=1
