EXPO_PUBLIC_SUPABASE_URL=(Test_Key)
EXPO_PUBLIC_SUPABASE_URL_FUNCTION=(Test_Key)
EXPO_PUBLIC_PATH=(Test_Key)
EXPO_PUBLIC_API_BASE=(Test_Key)
EXPO_PUBLIC_REACT_APP_SUPABASE_URL=(Test_Key)
EXPO_PUBLIC_SUPABASE_ANON_KEY=(Test_Key)
EXPO_PUBLIC_SENTRY_DSN_INIT=(Test_Key)
SENTRY_AUTH_TOKEN=(Test_Key)
POSTHOG_PROJECT_TOKEN=(Test_Key)
POSTHOG_HOST=(Test_Key)
EXPO_PUBLIC_WIKIPEDIA_EMAIL=(Test_Key)
