EXPO_PUBLIC_SUPABASE_URL=(Test_Key)
EXPO_PUBLIC_SUPABASE_ANON_KEY=(Test_Key)
EXPO_PUBLIC_SENTRY_DSN_INIT=(Test_Key)
SENTRY_AUTH_TOKEN=(Test_Key)
POSTHOG_PROJECT_TOKEN=(Test_Key)
POSTHOG_HOST=(Test_Key)
EXPO_PUBLIC_WIKIPEDIA_EMAIL=(Test_Key)
EXPO_PUBLIC_OVERPASS_PROXY_URL=https://project.vercel.app/api/overpass
EXPO_PUBLIC_API_KEY=(openssl rand -hex 32)
